.sig{
    a{
        color: white;
    }
}
a{
    text-decoration: none;
    color: $primary;
}
.badge-unlocked,
.badge-published,
.badge-public{
    background-color: $green;
}
.badge-locked,
.badge-canceled{
    background-color: $red;
}
.badge-moderate{
    background-color: $orange;
}
.badge-blocked{
    background-color: black;
}
